<mat-horizontal-stepper [linear]="true">
  <mat-step [stepControl]="targetGroup">
    <form [formGroup]="targetGroup">
      <ng-template matStepLabel>需求</ng-template>
      <p>提示：填写时可借助输入法的语音识别功能</p>
      <mat-form-field>
        <mat-label>种类</mat-label>
        <mat-select formControlName="kind" required>
          <mat-option value="1">月嫂</mat-option>
          <mat-option value="2">育儿嫂</mat-option>
          <mat-option value="3">保姆</mat-option>
          <mat-option value="4">小时工</mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field>
        <mat-label>年龄</mat-label>
        <textarea matInput placeholder="请说明年龄范围" formControlName="age"></textarea>
      </mat-form-field>
      <mat-form-field>
        <mat-label>籍贯</mat-label>
        <textarea matInput placeholder="如东北人、南方人、北京人等" formControlName="region"></textarea>
      </mat-form-field>
      <mat-form-field>
        <mat-label>其它</mat-label>
        <textarea matInput placeholder="如文化程度、属相等要求，也可以等回访时告诉我们" formControlName="others"></textarea>
      </mat-form-field>
      <div>
        <button mat-flat-button color="primary" matStepperNext>下一步</button>
      </div>
    </form>
  </mat-step>
  <mat-step [stepControl]="contactGroup">
    <form [formGroup]="contactGroup">
      <ng-template matStepLabel>电联</ng-template>
      <p>我们找到合适的候选人后会立即联系您</p>
      <mat-form-field>
        <mat-label>联系电话</mat-label>
        <input type="tel" matInput formControlName="phone" required>
      </mat-form-field>
      <mat-form-field>
        <mat-label>您的称呼</mat-label>
        <textarea matInput placeholder="如 李女士" formControlName="name" required></textarea>
      </mat-form-field>
      <div>
        <button type="button" mat-flat-button matStepperPrevious>上一步</button>
        <button mat-flat-button color="primary" matStepperNext>下一步</button>
      </div>
    </form>
  </mat-step>
  <mat-step [stepControl]="interviewGroup">
    <form [formGroup]="interviewGroup">
      <ng-template matStepLabel>面试</ng-template>
      <p>面试形式、地点等</p>
      <mat-form-field>
        <textarea matInput placeholder="面试的方式，如见面、远程视频等" formControlName="channel"></textarea>
      </mat-form-field>
      <mat-form-field>
        <textarea matInput placeholder="您方便进行面试的时间" formControlName="time"></textarea>
      </mat-form-field>
      <mat-form-field>
        <textarea matInput placeholder="您方便进行面试的地点" formControlName="place"></textarea>
      </mat-form-field>
      <div>
        <button type="button" mat-flat-button matStepperPrevious>上一步</button>
        <button mat-flat-button color="primary" matStepperNext>下一步</button>
      </div>
    </form>
  </mat-step>
  <mat-step>
    <ng-template matStepLabel>完成</ng-template>
    <mat-card>
      <mat-card-header>填写完毕</mat-card-header>
      <mat-card-content>
        <p>您填写的信息可以随时在 <a routerLink="/orders">订单页</a> 找到。</p>
        <p>您可以在那里修改或取消预约</p>
      </mat-card-content>
    </mat-card>
    <div>
      <button type="button" mat-flat-button matStepperPrevious>上一步</button>
      <button mat-flat-button color="primary">完成</button>
    </div>
  </mat-step>
</mat-horizontal-stepper>
