<header>
  <mat-toolbar color="primary" class="mat-elevation-z6">
    <div class="container-fluid">
      <div class="row align-items-center">
        <div class="col-auto">
          <mat-icon svgIcon="logo" class="logo"></mat-icon>
        </div>
        <h1 class="col text-center" (click)="forceReload()">
          我爱家人网
        </h1>
        <div class="col-auto">
          <a routerLink="/profile/feedback">
            反馈
          </a>
        </div>
      </div>
    </div>
  </mat-toolbar>
</header>
<main>
  <router-outlet></router-outlet>
</main>
<footer>
  <nav mat-tab-nav-bar>
    <a mat-tab-link class="flex-column"
       *ngFor="let link of links"
       [routerLink]="link.path"
       routerLinkActive #rla="routerLinkActive"
       [active]="rla.isActive">
      <mat-icon [svgIcon]="link.icon"></mat-icon>
      {{link.label}}
    </a>
  </nav>
</footer>
